#first ignore everything, then define what not to ignore
/*

#folders
!/src
!/gradle/wrapper

#files
!LICENSE-Paulscode IBXM Library.txt
!LICENSE-Paulscode SoundSystem CodecIBXM.txt
!forge-1.12.2-14.23.5.2768-changelog.txt

!.gitignore
!CREDITS.txt
!LICENSE.txt
!README.md
!README.txt
!build.gradle
!gradle.properties
!gradlew
!gradlew.bat
