#first ignore everything, then define what not to ignore
/*

#folders
!/classes
!/src
!/gradle/wrapper

#files
!.gitignore
!CREDITS.txt
!LICENSE.txt
!README.md
!README.txt
!build.gradle
!gradle.properties
!gradlew
!gradlew.bat
